/*Обнуление*/

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; border-radius: 10px;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

body{
	font-family: 'Nunito', sans-serif;
	color: rgb(92, 92, 92);
	font-size: 16px;
	background: rgb(232, 228, 228);
	scroll-behavior: smooth;

}
.logo{
	width: 5vw;
	height: 5vw;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.header__site-info .text{
	transition: all 0.2s ease-out;
}

.header__site-info:hover{
	position: relative;
	top: 0;
	left: 0;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.number{
	transition: all 0.2s ease-out;
	font-size: 35px;
}

.number:hover{
	font-weight: 700;
}


.logo img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

header{
	display: flex;
	justify-content: space-between;
	padding:  5vw;
	margin: 3vh 0;
	align-items: flex-start;
}

.text{
    background-color: rgba(255, 255, 255, 0)
}

.header__site-info{
	padding: 10px;
	border: 1px black solid;
}

header .header__site-info{
	background: #39ed07d3;
	border-radius: 10px;
	font-size: 3rem;
	margin:  0 10px;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.main-image img{
	width: 53.3vw;
	height: 30.72vw;
	top: 0;
	left: 0;
	object-fit: cover;
	
}

.title__company{

}

.main-image{
	
	position: relative;
	margin: 0 calc(50% - 53.3vw/2);
	overflow: hidden;
	
	
}

.main__introduction-image img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
}

.main__introduction-image {
	position: relative;
	overflow: hidden;
	width: 60.7vw;
		height: 60.72vh;
}

.main__place-image {
	position: relative;
	width: 30.45vw;
	height: 50.1vh;
	overflow: hidden;

}

.main-main{
	padding: 1.5vh;
	font-weight: bold;
}

.main__place-image img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main__route-image img{
width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.main__route-image{
	position: relative;
	overflow: hidden;
	width: 30.5vw;
	height: 61.8vh;
	margin: 1vh 0;
}
.main__route-info{
	padding: 8vh 2vw;
}

.main__route{
	box-shadow: 0px 0px 3px 3px rgba(54, 49, 49, 0.436);
}
.main__introduction-text{
	font-size: 1,125rem;
	max-width: 12,7vw;
	padding: 0 3vw;
	text-indent: 20px;
}
.main__introduction-place{
	margin: 0 auto;
}
.main__places{
	margin: 1vh;
	color: rgb(87, 95, 95);
}
.main__place-info{
	font-size: 3rem;
	margin: 3vh;
}

.place {
	padding: 1vh ;
	font-weight: bold;
}

h1{
	font-weight: bold;
	color: black;
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 4vh;
	
}

h2{
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 2.5rem;
	margin: 1.5vh;
}

h3{
	font-weight: bold;
	color: black;
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1vh;
	margin: 1.5vh;
}

span{
	background: #bbb6b6;
	color: black;
	border-radius: 5px;
	margin: 0px 0px 0px 210px;
	padding: 3px;
	font-weight: 700;
}


.main__introduction{
	background: url("../img/Section.png") 0 0 /100% 100%;
	display: flex;
	padding: 2vh 7vw;
	
	justify-content: space-between;
	box-shadow: 0px 0px 3px 3px rgba(54, 49, 49, 0.436) ;
}
.main__introduction-text{
	padding: 20px;
}

.main__place{
	display: flex;
	padding: 2vh 7vw;
	margin-bottom: 3vh ;
	justify-content: space-between;
	box-shadow: 0px 0px 3px 3px rgba(54, 49, 49, 0.436);
	background: url("../img/Section.png") 0 0 /100% 100%;
}

.main__introduction-communications{
	box-shadow: 0px 0px 3px 3px rgba(54, 49, 49, 0.436);
	display: flex;
	justify-content: center;
	background: url("../img/Section.png") 0 0 /100% 100%;
}
.main__introduction-text{
	margin-top: 2vh ;
	margin-left:1vw ;
	max-width: 50vw;
}
.main-communications{
	padding: 0 -2vw;
	margin: 0 2vw;
	
}

.main__route{
	padding: 2vh 7vw;
	margin:  3vh 0;
		background: url("../img/Section.png") 0 0 /100% 100%;
		display: flex;
}

.main__introduction-communications{
	text-align: center;
	padding: 2vh 7vw;
}

.footer_button-return{
	width: 6vw;
	height: 3vw;
	background: #828282;
	/* border:1px #030303 solid; */
	border-radius: 10px;
    font-weight: 700;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.main__route p{
	text-align: center;
}
p{
	font-size: 2rem;
}

@media(max-width: 1080px){
	.main__place {
		display: block;
		text-align: center;
	}

	.main__introduction-communications {
		display: block;
	}

	.main__introduction{
		display: block;
	}

	.main__introduction-image {
		width: 50.3vw;
		height: 30.72vw;
		margin: 0 calc(50% - 50.3vw/2);
	}

	.main__place-image{
		width: 65.3vw;
		height: 67.72vw;
		margin: 0 calc(50% - 65.3vw/2);
	}

	.main__route{
		display: block;
	}

	.main__places{
		margin: 1vh;
		font-size: 1,5rem;
	}

	.main__route-image{
		width: 65.3vw;
			height: 60.72vw;
			margin: 0 calc(50% - 65.3vw/2);
	}

	.main-communications{
		margin: 5vh auto;
		max-width: 40vw ;
	}

	.main__introduction-text {
		margin-top: 2vh;
		margin-left: 1vw;
		max-width: 100%;
	}

	.main-communications{
		font-size: 4rem;
	}

	.main-communications h3{
		font-size: 3rem;
	}

	h1{
		
		font-size: 2rem;
	}

	.logo {
		width: 7vw;
		height: 7vw;}
	}
	
@media (max-width: 768px){
	.main__introduction-image {
	width: 50.3vw;
	height: 30.72vw;
	margin: 0 calc(50% - 50.3vw/2);
}

.main__place-image {
	width: 65.3vw;
	height: 67.72vw;
	margin: 0 calc(50% - 65.3vw/2);
}

.main__route {
	display: block;
}

.main__places {
	margin: 1vh;
	font-size: 1, 5rem;
}

.main__route-image {
	width: 65.3vw;
	height: 60.72vw;
	margin: 0 calc(50% - 65.3vw/2);
}

.main-communications {
	margin: 5vh auto;
	max-width: 40vw;
}

.main__introduction-text {
	margin-top: 2vh;
	margin-left: 1vw;
	max-width: 100%;
}

.main-communications {
	font-size: 4rem;
}

.main-communications h3 {
	font-size: 3rem;
}

.main-communications .info{
	font-size: 10px;
}

h1 {

	font-size: 3rem;
}
.logo{
	width: 100vw;
	height: 5vw;
}
}
@media(min-width:1600px)  {
	h1{
		font-size: 5rem;
	}
	
	h2 {
		font-size: 5rem;
	}
	
	h3 {
		margin-bottom: 2r1080
	}
	.logo{
		width: 3vw;
		height: 3vw;
	}

}
@media(max-width:1600px){
	.main__introduction-image {
		height: 25.72vw;
	}

	.main__place-image {
		height: 35.72vw;
	}

	.logo {
		width: 3.5vw;
		height: 3.5vw;
	}


	.main__route-image {
		height: 50.72vw;
	}
}

.btn-up {
	/* фиксированное позиционирование */
	position: fixed;
	/* цвет фона */
	background-color: #673ab7;
	/* расстояние от правого края окна браузера */
	right: 20px;
	/* расстояние от нижнего края окна браузера */
	bottom: 0;
	/* скругление верхнего левого угла */
	border-top-left-radius: 8px;
	/* скругление верхнего правого угла */
	border-top-right-radius: 8px;
	/* вид курсора */
	cursor: pointer;
	/* отображение элемента как flex */
	display: flex;
	/* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
	align-items: center;
	/* выравниваем элементы внутри элемента по центру вдоль главной оси */
	justify-content: center;
	/* ширина элемента */
	width: 60px;
	/* высота элемента */
	height: 50px;
  }
  
  .btn-up::before {
	content: "";
	width: 40px;
	height: 40px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
	display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
	  background-color: #512da8; /* цвет заднего фона при наведении */
	}
  }